* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

/*TRANSITION*/
.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 0.5s;
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transition: opacity 3s ease, transform 1s ease;
    transform: translateX(0%);
}

.hidden2 {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-10%);
}

.show2 {
    opacity: 1;
    filter: blur(0px);
    transition: opacity 1s ease, transform 0.8s ease;
    transform: translateX(0%);
}

/*TRANSITION-smoff*/
.hidden3 {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(0%);
}

.show3 {
    opacity: 1;
    filter: blur(0px);
    transition: all 0.5s;
    transform: translateX(0%);
}

/*TRANSITION BUTTOM*/
.hidden4 {
    transform: translateY(50px);
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.show4 {
    animation: onda 0.5s ease-out forwards;
}

@keyframes onda {
    0% {
        transform: translateY(50px);
    }

    60% {
        transform: translateY(-10px);
        /* Sobe um pouco */
    }

    100% {
        transform: translateY(0);
        /* Volta levemente */
    }
}

.wrapper {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wrapper .link_wrapper {
    position: relative;
  }
  
  .wrapper a {
    font-family: "Poppins", sans-serif;
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    background: #ffffff00;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #ffffff;
    transition: all 0.35s;
  }
  
  .wrapper .icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all 0.35s;
  }
  
  .wrapper .icon svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #fff;
    transition: all 0.35s;
  }
  
  .wrapper a:hover {
    width: 200px;
    border: 3px solid #c6df03;
    border-radius: 10px;
    background: #0000001c;
    color: #ffffff;
  }
  
  .wrapper a:hover + .icon {
    border: 3px solid #d8df00;
    right: -25%;
  }


  /*BOTÃO PRETO*/
  .wrapperBlack a{
    background: #ffffff00;
    color: #000000;
    border: 3px solid #000000;
  }
  .wrapperBlack .icon svg{
    fill: #000000;
  }
  .wrapperBlack a:hover{
    border: 3px solid #000000;
    background: #00000050;
    color: #ffffff;
  }
  .wrapperBlack a:hover + .icon {
    border: 3px solid #000000;
    right: -25%;
  }