.sec-one{
    width: 100%;
    height: auto;
    background-color: #cccccc;
    padding: 25px;
}
.carrossel-Geral {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 340px;
    background-color: #293f68;
    border-radius: 15px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carrossel-slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carrossel-item {
    min-width: 100%;
    height: 100%;
    background-color: #4e6ea7;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .item1{
    background-color: red;
  }
  .item2{
    background-color: rgb(121, 238, 121);
  }
  .btn-left, .btn-right {
    position: absolute;
    width: 27px;
    height: 40px;
    top: 40%;
    background-color: #cccccc9a;
    border-radius: 3px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;
    z-index: 2;
  }
  
  .btn-left:hover, .btn-right:hover {
    background-color: #a8a8a89a;
  }
  
  .btn-left {
    left: 10px;
  }
  
  .btn-right {
    right: 10px;
  }
  
  .carrossel-indicadores {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 2;
  }
  
  .carrossel-indicadores input[type="radio"] {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .carrossel-indicadores input[type="radio"]:checked {
    background-color: #ffffff;
  }
  
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 30px;
    margin-top: 30px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff, #ababab) ;
    width: 210px;
    height: 140px;
    border-radius: 24px;
    border: 2px solid #293f68;
    cursor: pointer;
    transition: 0.5s;
}

.card img{
  width: 170%;
  height: auto;
}
.card .lgCarreiras{
  transition: 0.5s;
}
.card .lgInovacao{
  width: 150%;
  transition: 0.5s;
}
.card .lgSocial{
  width: 110%;
  transition: 0.5s;
}
.card .lgProjetos{
  width: 150%;
  filter: drop-shadow(0 0 5px #000);
  transition: 0.5s;
}

.card:hover{
    transform: translate(-10px, -16px);
    box-shadow: 5px 5px #293f68;
    border: 2px solid #293f68
}
.card .lgCarreiras:hover{
  filter: drop-shadow(0 0 5px #30bafe);
}
.card .lgInovacao:hover{
  filter: drop-shadow(0 0 5px #ced92c);
}
.card .lgSocial:hover{
  filter: drop-shadow(0 0 5px #52ec33);
}
.card .lgProjetos:hover{
  filter: drop-shadow(0 0 5px #911dde);
}
@media (max-width: 866px){
    .sec-one{
        padding: 0;
        height: auto;
        padding-bottom: 20px;
    }
    .carrossel-Geral{
        width: 100%;
        height: 290px;
        border-radius: 0;
    }
    .card{
        width: 200px;
        height: 130px;
    }   

    
    .card:hover{
        transform: translateY(-10px);
        box-shadow: 0px 5px #293f68;
    }
    .cards{
        margin-top: 10px;
    }
}
@media (max-width: 500px){
    .sec-one{
        height: auto;
        padding-bottom: 20px;
    }
    .card{
        width: 150px;
        height: 100px;
    }
    
}