ul li .HubCegruNav {
  background: #ffffff;
}

ul li .HubCarreirasNav:hover {
  background: #d4d4d4;
}

ul li .HubSocialNav {
  background: #ffffff;
}

ul li .HubSocialNav:hover {
  background: #d4d4d4;
}

ul li .HubInovNav {
  background: #ffffff;
}

ul li .HubInovNav:hover {
  background: #d4d4d4;
}


ul li .HubProjetosNav {
  background: #d4d4d4;
}

ul li .HubProjetosNav:hover {
  background: #d4d4d4;
}


.btn-outline {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn-outline:hover {
  background: #8c18a38a;
  color: #000000;
}



.gradient-text {
  background: linear-gradient(#dbb0e6, #d140d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}




.CEGRU_sc h1 {
  color: #000;
}

.CEGRU_sc p {
  color: #000;
}

.sectionMainCEGRU {
  background: var(--BackGeralSobre);
}
.Sobre_sc{
   background: url(../CapaSobre.png);
}

.Sobre_sc p{
  color: #fff;
}

.txtMainSobre h1{
  color: #fce8fb;
  text-shadow: 4px 4px #000000;
}
.txtMainSobre span{
  text-shadow: none;
}
.txt h3 {
  color: #fff;
  text-shadow: 2px 2px #14331b;
}

.txt p{
  color: #fff;
  text-shadow: 2px 2px #14331b;
  margin-bottom: 15px;
}

.linha {
  background: #000;
}

.conteudo h3 {
  background-color: #000;
  color: #000;
}

.conteudo p span {
  color: #000;
}

.conteudo p {
  color: #000;
}


.section-header h2,
.section-header p {
  color: #000;
}

.contact-section {
  background: var(--BackGeralSobre);
}

.contato {
  background: var(--BackGeralSobre);
}

.contato p {
  color: #7c1980;
}

.btn {
  background: linear-gradient(to right, #6d377a, #d140d6);
}
.sobre-container h2, .sobre-container p {
  color: #fff;
}