.tickets{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 20px;
    background: var(--BackGeralHome);
}
.tickets h2{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    top: 0;
    font-size: 45px;
    color: #ffffff10;
}
.tickets span{
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 0 0 3px #fff;
}
.ticketCarreiras, .ticketInovacao, .ticketProjetos, .ticketSocial {
    display: flex;
    color: #fff;
    width: 65%;    
    min-height: 370px;
    background-color: rgba(255, 255, 255, 0.667) ;
    margin-bottom: 50px;
    border-radius: 25px;
    overflow: hidden;
}
.TicketImg {
    width: 40%;
    height: auto;
}
.TicketImgProjetos {
    width: 40%;
    height: auto;
}
.TicketImgSocial {
    width: 20%;
    height: auto;
}
.TicketImgCarreiras {
    width: 33%;
    height: auto;
}

.TicketCarreirasResul, .TicketInovacaoResul, .TicketProjetosResul, .TicketSocialResul {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f739e;
    position: relative;
    gap: 10px;
}
.divisionTickets{
    width: 90%;
    height: 0.01em;
    background-color: #fff;
}

.divisionTicketsBlack{
    background-color: #000;
 
}
.MainTicketCarreiras{
    background: var(--BackGeralHubCarreiras);
}

.MainTicket {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
}
.MainTicket h4{
    margin-top: 30px;
    font-size: 2.3em;
    font-family: "Poppins", sans-serif;
}
.MainTicket p{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 23px;
    padding: 10px;
}
.btnSaibaMais{
    padding: 15px 40px;
    background: transparent;
    border-radius: 18px;
    color: #fff;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    border: 3px solid #fff;
    cursor: pointer;
}
.btnSaibaMais:hover{
    background: #2c2c2c52;
}
.resulIcons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 5px;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    z-index: 2;
}
.resulNumber{
    font-weight: 600;
    font-size: 1.3em;
}
.resulIcons img{
    width: 18%;
    height: auto;
}

/*TICKET INOVAÇÃO*/
.ticketInovacao{
    background: var(--HubInovacaoMain);
    color: #000;
}
.TicketInovacaoResul{
    background-color: #b0a422;
}
.MainTicketInovacao button{
    border: 3px solid #000;
    color: #000;
}


/*TICKET PROJETOS*/
.ticketProjetos{
    background: var(--BackGeralHubProjetos);
}
.TicketProjetosResul{
    background: #10501f;
}

/*TICKET SOCIAL*/
.ticketSocial{
    background: var(--BackGeralHubSocial);
    color: #000;
}
.TicketSocialResul{
    background: #647ad4;
}
.MainTicketISocial img{
    width: 15%;
}
.MainTicketSocial button{
    border: 3px solid #000;
    color: #000;
}
.CircleTickets{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    right: -35px;
}
.TicketCarreirasResul .CircleTickets{
    background-color: #0f739e;
    z-index: 1;
}
.ticketInovacao .CircleTickets{
    background-color: #b0a422;
}
.TicketProjetosResul .CircleTickets{
    background-color: #10501f;
}
.TicketSocialResul .CircleTickets{
    background-color: #647ad4;
}


@media (max-width: 1160px) {
    .ticketCarreiras, .ticketInovacao, .ticketProjetos, .ticketSocial{
        width: 100%;
    }
    .ticketSocial, .ticketCarreiras, .ticketInovacao, .ticketProjetos {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .TicketSocialResul, .TicketCarreirasResul, .TicketInovacaoResul, .TicketProjetosResul ,.MainTicketISocial,  .MainTicketCarreiras, .MainTicketInovacao{
      width: 100%;
    }
  
    .MainTicketISocial img {
      width: 30%; /* Ajuste o tamanho da logo conforme necessário */
    }
  
    .resulIcons {
      flex-direction: column;
      text-align: center;
    }
  
    .resulIcons img {
      width: 10%; /* Ícones maiores para mobile */
    }
  
    .wrapper {
      position: static;
      transform: none;
      margin-top: 10px;
    }
  }
  