ul li .HubCarreirasNav {
    background: #ffffff;
}

ul li .HubCarreirasNav:hover {
    background: #d4d4d4;
}

ul li .HubSocialNav {
    background: #ffffff;
}

ul li .HubSocialNav:hover {
    background: #d4d4d4;
}

ul li .HubProjetosNav {
    background: #ffffff;
}

ul li .HubProjetosNav:hover {
    background: #d4d4d4;
}



ul li .HubInovNav {
    background: #d4d4d4;
}

ul li .HubInovNav:hover {
    background: #d4d4d4;
}



.btn-primary {
    background: linear-gradient(135deg, #be8502, #fccf2e);
    color: #ffffff;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #5e4200, #ddae02);
    color: #ffffff;
}

.btn-outline {
    background: #ffffff3a;
    border: 2px solid #be8502;
    color: #be8502;
}

.btn-outline:hover {
    background: linear-gradient(135deg, #be8502, #fccf2e);
    color: #ffffff;
}

/*FINAL*/

.gradient-text {
    background: linear-gradient(135deg, #db9601, #815901, #4e3500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.Social_sc {
    background: url(../CapaInovacao.png);
    background-position: center center;
    background-size: cover;
}

.centerMain .LogoAnmHubInvocacao {
    width: 30%;
    filter: drop-shadow(0 0 10px #000000);
}

.Social_sc h1 {
    font-weight: 700;
}

.Social_sc p {
    color: #414141;
}

.sectionMainSocial {
    background: var(--BackGeralHubIno);
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}


.img_social {
    background-color: #fff;
}

.img_social::before {
    border: 3px solid #c9bb00;
}

.img_social::after {
    border: 1px dashed #ffffff00;
}

.txt h3 {
    text-shadow: 2px 2px #a0a0a0;
}


/*AÇÕES REALIZADAS*/
.secAcoes {
    background: var(--BackGeralHubIno);
}

.linha_Tempo {
    background-color: #ffffff80;
}

.secao-linha-do-tempo {
    background-color: #8577007e;
}

.secao-linha-do-tempo::before {
    background: linear-gradient(135deg, #db9601, #382702);
}

.secao-linha-do-tempo::after {
    background-color: #f3f29d;
}

.resultados_social {
    background: var(--BackGeralHubIno);
}

.gallery-section-inovacao {
    background: var(--BackGeralHubIno) !important;
}

.dot.active {
    background: #ffa807;
    transform: scale(1.2);
}

/*CONTATO*/
.contact-section-inovacao {
    background: var(--BackGeralHubIno);
}

.contato {
    background: linear-gradient(to right, #cdffd8, #94b9ff);
}